html{
	background-image: url(../images/grayBackground.jpg);
	background-repeat: repeat;
	margin: 0.5%;
}

body{
	overflow-x: hidden;
	font-family: Arial;
	margin: auto;
}

#mid{
	margin-left:20%; 
}	
#start{
	font-size: 30px;
}

#join{
	height: 3%;
	width:45px;
	font-size:12px;
}
button{
	height: 40px;
	width: 200px;
    font-size: 20px;
    align-content: center;
    cursor: pointer;
    border-radius: 10px;
}
.first{
}


.col{
	float:left;
	width: 50%;
	height:250px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


#w3c{
	clear: left;
	margin: auto;
}

h1{
	text-align: center;
}

h4{
    margin: 0px;
}


#login{
    margin-top: 10px;
    width: 140px;
    font-size: 16px;
}


#thumb{
	float: left;
	width: 100%;
	height: auto;

}
.textInfo{
	display:inline-block; 
	width:150px; 
	text-align: left;
}
