.dropbtn{
    background-color:limegreen;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.dropbtn:hover{
    cursor: pointer;
    background-color: darkgreen;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}

.dpDown{
	width:100%;
	height:20%;
}

.dpDown:hover{
    cursor: pointer;
    background-color: gainsboro;
}

html{
	background-image: url(../images/grayBackground.jpg);
	background-repeat: repeat;
	margin: 0.5%;
}

body{
	overflow-x: hidden;
	font-family: Arial;
	margin: auto;
}

.main{
	height: 90%;
	width: 99%;
	border-style: solid;
    border-width: 5px;
	position: relative;
}

#demo{
    background-image: url(../images/sample.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 73%;
    margin: 0px;
}

.option{
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
}

textarea{
    position: absolute;
    margin-bottom: 0px;
    bottom: 13.6%;
    width: 100%;
    font-size: 16px;
}

input[type="text"]{
    width: 100%;
    font-size: 16px;
}

input[type="text"]:hover, textarea:hover{
    background-color: gainsboro;
}